.mt-50
  %h2
    %a{"href" => "/"} Listed
  .mt-20
    - if !@secret_url
      Generate a
      %a{"href" => "https://standardnotes.org", "target" => "_blank"} Standard Notes
      extension link to get started:
      = form_tag({controller: "authors", action: "create"}, method: "post")
      %button.black.mt-10{"type" => "submit"} Generate Author Link
    - else
      %p
        Install in
        %a{"href" => "https://standardnotes.org", "target" => "_blank"} Standard Notes
        via extension author link:
      .wrap= @secret_url
