%p to use:

- if !@secret_url
  generate
  %a{"href" => "https://standardnotes.org", "target" => "_blank"} Standard Notes
  extension url:
  = form_tag({controller: "authors", action: "create"}, method: "post")
  %button.black.mt-10{"type" => "submit"} generate author url
- else
  %p
    install in
    %a{"href" => "https://standardnotes.org", "target" => "_blank"} Standard Notes
    via extension author url:
  .wrap= @secret_url
