#author-profile
  = render "authors/author_header", :author => @display_author, :condensed => false, :post_header => false

  %hr.left

  #author-posts
    - @display_author.listed_posts(nil).each do |post|
      .author-post
        = render "posts/post", :post => post
