#footer
  .left
    %a.listed{"href" => "/"}
      %p Listed
    - if request.path == "/" || request.path == '/usage'
      %span.links
        %a{"href" => "/@releases"} Releases Blog
        %a{"href" => "/@mo"} Editor Blog
  .right
    %a.via{"href" => "https://standardnotes.org"}
      %p via Standard Notes
