.post-content
  %h2= @post.title
  %p= @post.rendered_text

.mt-50
  - if @author_posts
    %p
      %strong more by this author:

    - @author_posts.each do |tied_post|
      %strong
        %a.block{"href" => "#{tied_post.url}"}
          = tied_post.title
