<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    * {
      box-sizing: border-box;
    }

    html, body {
     margin: 0;
     font-family: sans-serif;
     line-height: 1.5;
     color: black;

     font-size: 16px;
     height: 100%;
    }

    body {
      padding: 1rem 6rem 4px 6rem;
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;
    }

    .block {
      display: block;
    }

    h1, h2, h3 {
      margin-bottom: 4px;
      -webkit-margin-after: 4px;
    }


    h2 a{
      color: black;
    }

    .post-content {
      margin-top: 20px;
      clear: both;
      font-size: 18px;
      line-height: 1.6;
      text-align: left;
      font-weight: normal;
      color: black;
      position: relative;
      overflow: visible;
    }

    pre {
      font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
      padding: 16px;
      overflow: auto;
      font-size: 90%;
      line-height: 1.45;
      background-color: #f7f7f7;
      border-radius: 3px;
    }

    p code {
      font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
      font-size: .75rem;
      line-height: .75rem;
      color: #c25;
      padding: 4px 8px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 3px;
    }

    img {
      display: block;
      margin-top: 30px;
      max-width: 100%;
    }

    p a {
      text-decoration: underline !important;
    }

    hr {
      $hr-height: 50px;
      display: block;
      border: 0;
      text-align: center;
      box-sizing: content-box;
      height: $hr-height;
      padding-top: $hr-height;
      border: 0 !important;
    }

    hr.left {
      text-align: left;
    }

    hr:before {
      // margin-top: 26px;
      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 400;
      font-style: italic;
      font-size: 28px;
      letter-spacing: .3em;
      content: '...';
      display: inline-block;
      margin-right: .6em;
      color: black;
      position: relative;
      top: -$hr-height/2;
    }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
